.iyer-names {
    background-color: black;

    &-1 {
        color: aqua;
    }

    &-2 {
        color: bisque;
    }

    &-3 {
        color: blue;
    }

    &-4 {
        color: blueviolet;
    }

    &-5 {
        color: brown;
    }

    &-6 {
        color: cadetblue;
    }

    &-7 {
        color: chartreuse;
    }

    &-8 {
        color: chocolate;
    }
}
